@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
#sidebar a.active {
    color: green;
  border: 2px solid green;
  background: none;
  }
  #sidebar a.active:hover{
    background-color: green;
    color:bisque;
  }
  .font-garamond{
  font-family: "EB Garamond", serif;}